.category_md_container
  margin 0, 0, 0, 15px !important;

  img, figure, div, p
    max-width 100% !important;
    // margin auto;
    // width auto !important;

  iframe
    max-width 100% !important;

  table
    border none !important;

  a
    word-break break-all;